html {
  @include desktop {
    font-size: 16px;
  }
  @include laptop {
    font-size: 15px;
  }
  @include tablet {
    font-size: 14px;
  }
  @include phone {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  /*  box-sizing: border-box;*/
}

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  font-size: rem(16px);
}

.wrapper {
  min-height: 100%;
  position: relative;
// width: 100%;
  min-width:1100px;
}

.wrapper:after {
  content: "";
  display: block;
//  height: rem($footer-height);
  overflow: hidden;
}


/* задает отступы (к примеру от футера) и прочее */

.maincontent {
//  padding-bottom: rem($padding-bottom);
}

.container {
  width: rem(1100px);
  /* было 940 */
  margin: 0 auto;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.footer {
  height: rem($footer-height);
//  margin-top: rem(-$footer-height);
  position: relative;
}

