// useful
@mixin circle($width) {
  width: $width;
  height: $width;
  border-radius: 50%;
}

@mixin inline-block($valign:top) {
  display: inline-block;
  vertical-align: $valign;
}

// Spread the image
%img-spread {
  display: block;
  object-fit: cover;
}

%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

%justify {
  text-align: justify;
  &:after {
    content: ' ';
    display: inline-block;
    width: 100%;
    height: 0;
  }
}

%middle {
  &:before {
    content: ' ';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
}

//responsive
@function rem($px) {
  @return $px / 16px +0rem;
}

//media
@mixin desktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 480px) {
    @content;
  }
}
