.l-welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:flex-end;
  overflow: hidden;
  position: relative;
}

.l-welcome__bg{
  z-index:-5;
  background: url(../img/rocks_bg.png) no-repeat top/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
}

.l-video__bg {
  position: absolute;
  z-index: -150;
  width: 113vw;
  top:0;
}

.l-flipper{
  width: 380px;
  content: '';
  height:100%;
  display: block;
  transform-style: preserve-3d;
  transition: transform 0.7s 0.3s;
  margin:auto;
  @include phone{
    width: 90%;
  }
  &_back{
    transform: rotateY(180deg);
  }
}
.loaded
{
  & .l-flipper{
    animation: flipper-show 1s ease-out;
  }
}


.l-frame-wrapper {
  background: rgba(#1c1f29, 0.5);
  backface-visibility: hidden;
  width: 100%;
  top: 25%;
  position: absolute;
  &_welcome {
    transform: rotateY(0deg);
  }
  &_auth {
    transform: rotateY(180deg);
  }
}

.l-welcome__auth-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 12px 25px;
  text-decoration: none;
  display: block;
  border: 1px solid $white;
  color: $white;
  transition: 0.3s;
  @include phone{
    right: 50%;
    transform: translateX(50%);
  }
  &:hover {
    background: $blue;
    border: 1px solid transparent;
  }
}

.l-welcome__copyright {
  height: 3.5vh;
  margin: 0 auto;
  @include phone {
    display: none;
  }
}

.l-welcome__copyright_phone{
  @extend .l-welcome__copyright;
  display: none;
  @include phone {
    display: block;
    text-align: center;
    height:auto;

  }
}

@keyframes flipper-show {
  0%{
    opacity:0.1;
    transform: rotateX(-90deg) scale(0.5);
  }
  100%{
    opacity:1;
    transform: rotateX(0deg);
  }
}