.c-admin-form {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  color: $gray;
  &_blog {
    flex-direction: column;
  }
}

.c-admin-form__title {
  width: 100%;
  font-size: 21px;
  margin-bottom: 30px;
  @include roboto(medium);
}

.c-admin-form-group__title {
  @include roboto(medium);
  margin-bottom: 25px;
  width: 100%;
}

.c-admin-form__input {
  border-radius: 3px;
  @include roboto();
  border: none;
  outline: none;
  position: relative;
  height: 45px;
  padding-left: 10px;
  &_skills {
    width: 45px;
    height: 33px;
    text-align: center;
    padding-left: 0;
  }
  &_blog {
    width: 300px;
    margin-bottom: 20px;
  }
  &_textarea {
    height: 150px;
  }
}

.c-admin-form__button {
  height: 50px;
  border-radius: 5px;
  background: $blue;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  width: 10%;
}

.c-admin-form__upload-link {
  text-decoration: none;
  color: $blue;
  width: 250px;
  position: relative;
  height: 36px;
  padding: 5px 10px 10px 42px;
  margin-bottom: 20px;
  cursor: pointer;
}

.c-admin-form__upload-icon {
  fill: $blue;
  width: 36px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}