section.l-section.l-about(id="section2")
    .l-about__col.l-about__col_left
        svg(viewBox="0 0 1000 110" preserveAspectRatio="none").c-section__triangle.c-section__triangle_about.c-section__triangle_color_beiger
            polygon(points="0,0 1000,110 0,110")
        .l-about__content.l-about__content_left
            .c-section-title-container
                svg(class='c-section-title-bg')
                    use(xlink:href=`#stars2`)
                .c-section-title обо мне
            .c-about
                img.c-about__pic(src="./assets/img/user-photo.jpg")
                .c-block-title кто я
                .c-block-text
                    p.
                        Я Full-Stack разработчик из Москвы. Мне 36 лет. Занимаюсь разработкой прикладного программного обеспечения для САПР систем.
                        Мне нравится заниматься комплексными проектами на стыке дизайна, бизнес-аналитики и информационных технологий.
                    p.
                        Являюсь сертифицированным специалистом <a href="https://www.youracclaim.com/badges/78717541-9d34-4ec7-8321-fb611aab6648" target="_blank">Autodesk Inventor</a> и <a href="https://www.youracclaim.com/badges/8bbad56a-9fc0-4f46-abcb-e0e3177669eb" target="_blank">Autodesk Autocad</a>.
                        В МГТУ им. Н.Э. Баумана получил 2 высших образования - техническое и дизайнерское. Дипломный проект "Информационная система МГТУ им.Н.Э. Баумана" завоевал первое место в номинации "Дизайн средового оборудования" на <a href="http://www.usaaa.ru/news/2016/innoprom-2016-1" target="_blank">конкурсе промышленного дизайна FORMA.</a>
                    p.
                        Веб-разработкой стал интересоваться в 2016 году. Сайт-портфолио я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                        Стек технологий, которыми я владею представлен на данном сайте.
                    p.


    .l-about__col.l-about__col_right
        svg(viewBox="0 0 1000 110" preserveAspectRatio="none").c-section__triangle.c-section__triangle_about.c-section__triangle_right.c-section__triangle_color_bg-white
            polygon(points="0,110 1000,110 1000,0")
        .l-about__content.l-about__content_right
            .c-block-title чем я могу быть вам полезен
            .c-block-text
                p.
                    Больше всего меня привлекет Backend разработка,
                    но я также знаком и могу решать не сложные задачи на Frontend.
            include _skills