ul.c-skills
    each skillGroup in skills
        li.c-skills__group
            .c-skills-group__title= skillGroup.group
            ul.c-skills-list
                each skill in skillGroup.items
                    - var dashOffset = 100 - skill.value;
                    li.c-skills-list__item
                        .c-skill
                            svg(viewBox="0 0 40 40" preserveAspectRatio="none" stroke-alignment="inner").c-skill__circle.c-skill__circle_inner
                                circle(cx="20" cy="20" r="16")
                            svg(stroke-dasharray="100" stroke-dashoffset=`${dashOffset}` viewBox="0 0 40 40" preserveAspectRatio="none" stroke-alignment="inner").c-skill__circle.c-skill__circle_outer
                                circle(cx="20" cy="20" r="16")
                            .c-skill__title= skill.name