section.l-section.l-developer
    header.l-developer__top
        .c-socials-wrapper
            include _socials
    include _menu
    .l-parallax__bg
    include _blinking-stars
    .l-developer__container
        //+svg('c-developer__bg',`stars1`)
        svg(class='c-developer__bg')
            use(xlink:href=`#stars1`)
        block user
            include _user
    a.c-section__btn(data-move="next")
        +svg('c-section__icon',`arrow_down`)
