footer.c-footer
    ul.c-footer-list
        .c-footer-list__item.c-footer-list__item_first
            .c-copyright__description.c-footer__text.
                Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .c-footer-list__item.c-footer-list__item_notfirst
            include _nav
            .c-socials-wrapper.c-socials-wrapper_footer
                include _socials
        .c-footer-list__item.c-footer-list__item_notfirst
            .c-footer-contacts
                .c-contacts-list-wrapper.c-contacts-list-wrapper_footer
                    include _contacts
    .c-footer__copyright.c-footer__text © Максим Шаталов | Создано с любовью в LoftSchool | 2017
    .c-footer__copyright_phone.c-footer__text © Максим Шаталов
    .c-footer__copyright_phone.c-footer__text Создано с любовью в LoftSchool | 2017