.c-frame
    include _user
    .c-socials-wrapper.c-socials-wrapper_welcome
        include _socials
nav.c-nav-panel
    ul.c-nav-panel__list
        li.c-nav-panel__button
            a.c-nav-panel__link(href="works") Мои работы
        li.c-nav-panel__button.c-nav-panel__button_notfirst
            a.c-nav-panel__link(href="about") Обо мне
        li.c-nav-panel__button.c-nav-panel__button_notfirst
            a.c-nav-panel__link(href="blog") Блог