include ../mixins/_svg
-
    var icons={
        vk: {
            link:'http://vk.com/id224269077',
            target:'_blank',
            icon:'vk'
        },
        github: {
            link:'https://github.com/furzeal',
            target:'_blank',
            icon:'github'
        },
        linkedin: {
            link:'https://ru.linkedin.com/in/maxim-shatalov-67715b55',
            target:'_blank',
            icon:'in'
        }
    }
ul.c-socials
    each icon in icons
        li.c-socials__item
            a.c-socials__link(href=`${icon.link}` target=`${icon.target}`)
                +svg('c-socials__icon',`${icon.icon}`)