footer.footer
    .container
        ul.footer__list
        .footer__item
            .copyright__description Этот сайт я сделал в рамках обучения в Школе онлайн образования
            LoftSchool.
        .footer__item.footer__item_notfirst
            nav.footer__nav
                ul.footer__menu
                    li.footer__menu-item
                        a.footer__menu-link(href="#") Мои работы
                    li.footer__menu-item
                        a.footer__menu-link(href="#") Обо мне
                    li.footer__menu-item
                        a.footer__menu-link(href="#") Блог
                    li.footer__menu-item
                        a.footer__menu-link(href="#") Авторизация
            include ../common/_socials
        .footer__item.footer__item_notfirst
            ul.footer__contacts
                li.contacts__item
                    a.contacts__link(href="skype:maxim.shatalov04" target="_blank") maxim.shatalov04
                li.contacts__item
                    a.contacts__link(href="mailto:shatalov04@gmail.com" target="_blank") shatalov04@gmail.com
                li.contacts__item
                    a.contacts__link(href="tel:+79162142371") +7 916 214 23 71
                li.contacts__item
                    a.contacts__link(href="https://yandex.ru/maps/10740/mytischi/?ll=37" +
                    ".738442%2C55.901499&z=17&mode=whatshere&whatshere%5Bpoint%5D=37.738507%2C55" +
                    ".900830&whatshere%5Bzoom%5D=17" target="_blank") г.Мытищи, Октябрьский проспект, 6А
        .footer__copyright © Максим Шаталов | Создано с любовью в LoftSchool | 2017