header.header
     .container
        .header__top
            .header__left
                include ../common/_socials
            .header__right
                .header__menu
        .header__bottom
            .user
                .user__avatar
                    img.user__img(src="#" alt="Maxim Shatalov avatar")
                .user__name Максим Шаталов
                .user__description Личный сайт веб-разработчика
            .header__minimize
