ul.socials
    li.socials__item.socials__item_vk
        a.socials__link.socials__link_vk(href="#" target="_blank")
            i.fa.social__icon.fa-vk(aria-hidden="true")
    li.socials__item.socials__item_github
        a.socials__link.socials__link_github(href="#" target="_blank")
            i.fa.social__icon.fa-github(aria-hidden="true")
    li.socials__item.socials__item_linkedin
        a.socials__link.socials__link_linkedin(href="#" target="_blank")
            i.fa.social__icon.fa-linkedin(aria-hidden="true")