.l-blog {
  display: flex;
  flex-direction: column;
  background: $beige;
  position: relative;
}

.c-blog {
  display: flex;
  padding-top: 45px;
}

$sidebar-width: 280px;
.c-blog-sidebar {
  width: $sidebar-width;
  position: relative;
  color: $gray;
  &_fixed {
    .c-blog-sidebar__list {
      position: fixed;
      top: 0;
      width: $sidebar-width;
    }
  }
  @include tablet {
    flex: none;
    background: $sidebar-color;
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidebar-width;
    margin-left: -$sidebar-width;
    transition: 0.5s;
    color: $white;
    &.active {
      margin-left: 0;
    }
  }
  @include phone {
    width: 85vw;
    margin-left: -85vw;
  }
}

.c-blog-sidebar__list {
  width:$sidebar-width -20px;
  @include tablet() {
    margin-right: 20px;
  }
}

.c-blog-sidebar__item {
  text-align: right;
  padding-right: 17px;
  border-right: 3px solid transparent;
  transition: 0.3s;
  &.active {
    border-right: 3px solid $blue;
    @include tablet {
      border-right: 3px solid $white;
    }
    & .c-blog-sidebar__link {
      @include roboto(medium);
      color: $blue;
      @include tablet {
        color: inherit;
        opacity: 1.0;
      }
    }
  }
}

.c-blog-sidebar__link {
  text-decoration: none;
  padding: 10px 0;
  margin: 10px 0;
  color: inherit;
  display: block;
  //transition: 0.3s;
  @include tablet {
    opacity: 0.75;
  }
  &:hover {
    color: $blue;
    @include tablet {
      color: inherit;
      opacity: 1.0;
    }
  }
}

.c-blog-sidebar__button {
  padding: 5px 25px 5px 0;
  z-index: 1000;
  cursor: pointer;
  display: none;
  position: absolute;
  width: 10px;
  height: 50px;
  left: 99.8%;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: color 0.5s;
  @include tablet {
    display: block;
  }
}

.c-blog-sidebar__icon {
  width: 10px;
  height: 50px;
  fill: $sidebar-color;
}

.c-articles {
  flex: 3;
  padding: 10px 100px;
  @include phone {
    padding: 10px 3%;
  }
}

.c-articles__list {
}

.c-article {
  &:after {
    content: "";
    width: 100%;
    border-bottom: 5px solid rgba($dark-gray, 0.07);
    padding-top: 70px;
    margin-bottom: 70px;
    display: block;
    @include tablet {
      padding-top: 50px;
      margin-bottom: 50px;
    }
    @include phone {
      padding-top: 30px;
      margin-bottom: 30px;
    }
  }
  &:last-child {
    &:after {
      border-bottom: 5px solid transparent;
      padding-top: 0;
    }
  }
}

.c-article__title {
  @extend .c-block-title
}

.c-article__date {
  color: rgba($footer-blue, 0.7);
  margin-bottom: 25px;
}

.c-article__content {
}