footer.c-footer
    ul.c-footer-list
        .c-footer-list__item
            .c-copyright__description.c-footer__text.
                Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .c-footer-list__item.l-footer-list__item_notfirst
            include ../components/_nav
            include ../components/_socials
        .c-footer-list__item.l-footer-list__item_notfirst
            .c-footer-contacts
                .c-contacts-list-wrapper.c-contacts-list-wrapper_footer
                    include ../components/_contacts
    .c-footer__copyright.c-footer__text © Максим Шаталов | Создано с любовью в LoftSchool | 2017