-
    var menuItems={
        works: {
            link:'works.html',
            title:'Мои работы',
        },
        about: {
            link:'about.html',
            title:'Обо мне',
        },
        blog: {
            link:'blog.html',
            title:'Блог',
        },
        auth: {
            link:'index.html',
            title:'Авторизация',
        }
    }
nav.c-menu
    ul.c-menu-list
        each item in menuItems
            li.c-menu-list__item
                a.c-menu-list__link(href=`${item.link}`) #{item.title}