include ../mixins/_svg

.c-slider
    .c-slider__view
        ul.c-slider__slides
            //-li.c-slides__item.active
            //-    img.c-slider-img(src="./assets/img/work-1.png")
            //-li.c-slides__item
            //-    img.c-slider-img(src="./assets/img/work-2.png")
            //-li.c-slides__item
            //-    img.c-slider-img(src="./assets/img/work-3.png")
            //-li.c-slides__item
            //-    img.c-slider-img(src="./assets/img/work-4.png")
    .c-slider__description
        .c-description__wrapper
            .c-slider-title.c-block-title.c-block-title_left сайт школы онлайн образования
            .c-slider-item__skills HTML, CSS, JavaScript
            a.c-slider-btn(href='#' target="_blank")
                +svg('c-slider-btn__icon', `link`)
                | Посмотреть сайт
    .c-pager
        ul.c-pager__list
            //-li.c-pager__item.active
            //-    svg.c-pager__symbol(viewBox='0 0 10 10')
            //-        circle(cx='5' cy='5' r='5')
            //-li.c-pager__item
            //-    svg.c-pager__symbol(viewBox='0 0 10 10')
            //-        circle(cx='5' cy='5' r='5')
            //-li.c-pager__item
            //-    svg.c-pager__symbol(viewBox='0 0 10 10')
            //-        circle(cx='5' cy='5' r='5')-            //-li.c-pager__item
            //-    svg.c-pager__symbol(viewBox='0 0 10 10')
            //-        circle(cx='5' cy='5' r='5')
    +svg('c-slider__button c-slider__button_prev', `arrow_down`)
    +svg('c-slider__button c-slider__button_next', `arrow_down`)
