form.c-admin-form.c-admin-form_blog(id="admin-blog")
    .c-admin-form__title Страница "Блог"
    .c-admin-form-group__title Добавить запись
    input.c-admin-form__input.c-admin-form__input_blog(type="text" placeholder="Название" form="admin-blog" required=true)
    input.c-admin-form__input.c-admin-form__input_blog(type="text" placeholder="Дата" form="admin-blog" required=true)
    textarea.c-admin-form__input.c-admin-form__input_blog.c-admin-form__input_textarea(placeholder="Содержание" form="admin-blog" required=true)
button.c-admin-form__button(type="submit" form="admin-blog") Добавить
