extends ../layouts/_default
block section1
    section.l-section.l-admin
        header.l-admin__header
            .l-admin-title Панель администрирования
            a.l-admin-return-btn(href='/') Вернуться на сайт
        ul.c-tabs
            li.c-tabs__item.active
                .c-tabs__title skills
            li.c-tabs__item
                .c-tabs__title blog
            li.c-tabs__item
                .c-tabs__title works
        ul.c-content-panel
            li.c-content-panel__item.active
                include admin/_skills
            li.c-content-panel__item
                include admin/_blog
            li.c-content-panel__item
                include admin/_works
        .l-admin__popup
            .l-admin__status #{status}
