.c-form-container.c-form-container_yells
    form.c-form(id="yells-form")
        .c-block-title.c-block-title_white связаться со мной
        input.c-form__input(type="text" placeholder="Ваше имя")
        input.c-form__input(type="email" placeholder="Ваше email")
        textarea.c-form__input.c-form__input_textarea(placeholder="Ваше сообщение")
    .c-form__panel
        button.c-form__button.c-form__button_highlighted(type="submit" form="yells-form") Отправить
        button.c-form__button Очистить