section.l-section.l-map
    .l-map__widget
    .l-contacts
        .c-block-title контакты
        .c-contacts-list-wrapper.c-contacts-list-wrapper_map
            include ../../components/_contacts
    include ../../components/_footer