.l-about {
  @include tablet{
    flex-direction: column;
    position: relative;
    .l-about__col {
      width: 100%;
      position: static;
      padding: 25px 0;
    }
  }
}

.l-about__col {
  position: relative;
  width: 50%;

}

.l-about__col_left {
  background: $beige;
}

.l-about__col_right {
  background: $bg-white;
}

.l-about__content {
  &_left {
    padding: 0 20px;
    display: flex;
    @include desktop{
      display: block;
      padding: 0 80px;
    }
    @include tablet{
      display: flex;
      flex-direction: column;
      padding: 0 20%;
    }
  }
  &_right {
    padding: 10px 10px 0 40px;
    @include tablet{
      padding: 0 20%;
    }
  }
  @include phone{
    padding: 0 2.5%;
  }
}


.c-about {
  margin-top: 10px;
  flex: 3;
}

.c-about__pic {
  width: 100%;
  margin-bottom: 20px;
  @include phone{
    margin: 0 -2.5% 20px -2.5%;
    width: 100vw;
  }
}
