.l-about {
}

.l-about__col {
  position: relative;
  width: 50%;
}

.l-about__col_left {
  background: $beige;
}

.l-about__col_right {
  background: $bg-white;
}

.l-about__content {
  &_left {
    padding: 0 80px;
  }
  &_right {
    padding: 10px 10px 0 40px;
  }
}


.c-about {
  margin-top: 10px;
}

.c-about__pic {
  width: 100%;
  margin-bottom: 20px;
}
