.l-map {
  height: 100vh;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  @include phone{
    height:auto;
  }
}

.l-map__widget {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  @include phone{
    position: static;
    height: 100vh;;
  }

}
.l-contacts {
  margin:auto;
  width: 580px;
  background: rgba($white, 0.7);
  padding: 30px 20px;
  z-index:2;
  @include tablet{
    width: 350px;
  }
}


