$transDelay: 0.3s;

.c-skills {
  margin-top: 50px;
  & :nth-child(4) {
    .c-skill__circle {
      &_outer {
        transition-delay: $transDelay;
      }
    }
  }
  & :nth-child(6) {
    .c-skill__circle {
      &_outer {
        transition-delay: 2*$transDelay;
      }
    }
  }
  & :nth-child(8) {
    .c-skill__circle {
      &_outer {
        transition-delay: 3*$transDelay;
      }
    }
  }
}

.c-skills-group__item {
}

.c-skills-group__title {
  @include roboto(medium);
  color: $gray;
  font-size: 28px;
  margin-bottom: 10px;
  @include tablet {
    text-align: center;
    font-size: 23px;
  }
}

.c-skills-list {
  display: flex;
  flex-flow: row wrap;
  margin-left: -5%;
  @include tablet {
    justify-content: center;
    margin: 0 -20%;
  }
  @include phone {
    margin: 0;
  }
}

.c-skills-list__item {
  margin: 0 0 5% 5%;
  @include tablet {
    justify-content: center;
    margin: 0 2.5% 5% 2.5%;
  }
}

.c-skill {
  width: 110px;
  height: 110px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablet {
    width: 1.15*110px;
    height: 1.15*110px;
  }
}

.c-skill__circle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  fill: transparent;
  stroke-width: 15%;
  transform: rotate(-90deg);
  &_outer {
    stroke: $blue;
    transition: 1s 0.2s ease-out;
  }
  &_inner {
    stroke: $light-gray;
  }
}

.c-skill__title {
  text-align: center;
  @include roboto(medium);
  font-size: 12px;
  width: 65%;
  margin: 0 auto;
  color: $blue;
}