section.l-section.l-works(id="section2")
    .l-works__title
        svg(viewBox="0 0 2000 110" preserveAspectRatio="none").c-section__triangle.c-section__triangle_color_dark-blue
            polygon(points="0,0 1000,110 2000,0 2000,110 0,110")
        .c-section-title-container.c-section-title-container_works
            svg(class='c-section-title-bg')
                use(xlink:href=`#stars2`)
            .c-section-title мои работы
        svg.l-works-title__triangles
    include ../../components/_slider