@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.c-stars, .c-twinkling, .c-clouds {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110vw;
  height: 110vh;
  display: block;
}

.c-stars {
  background: $bg-stars url(../img/stars.png) repeat top center;
  z-index: -153;
}

.c-twinkling {
  background: transparent url(../img/twinkling.png) repeat top center;
  z-index: -151;
  animation: move-twink-back 200s linear infinite;
}

.c-clouds {
  background: transparent url(../img/clouds3.png) repeat top center;
  z-index: -150;
  animation: move-clouds-back 200s linear infinite;
  opacity: 0.5;
}