.c-contacts-list-wrapper {

}

.c-contacts-list-wrapper_map {

}

.c-contacts-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 10px;
}

.c-contacts__item {
  width: 50%;
  margin-bottom: 30px;
  box-sizing: border-box;
  display: block;
  @include tablet {
    width: 100%;
    margin-bottom:20px;
  }
}

.c-contacts__link {
  text-decoration: none;
  @include roboto(medium);
  color: rgba($gray, 0.8);
  padding: 10px 10px 10px 55px ;
  height: 45px;
  position: relative;
  display: block;
}

.c-contacts__icon {
  width: 45px;
  height: 100%;
  fill: $blue;
  position: absolute;
  left: 0;
  top: 0;
}

.c-contacts-list-wrapper_footer {
  & .c-contacts__icon {
    display: none;
  }
  & .c-contacts-list {
    padding-top: 0;
  }
  & .c-contacts__item {
    margin: 0;
    width: 100%;
  }
  & .c-contacts__link {
    height:auto;
    color: rgba($white,0.8);
    @include roboto(light);
    padding: 0 0 5px 0;
    @include laptop{
      text-align: right;
    }
    @include phone{
      text-align: center;
    }
  }
}