.l-developer {
  height: 100vh;
  position: relative;
  flex-direction: column;
  //justify-content: space-between;
  align-items:flex-start;
}

.l-developer__top {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 20vh;
  z-index: 50;
  //margin-bottom: 50px;
}

//include ../components/_socials
//include ../components/_menu-icon
.l-parallax__bg {
  background: url(../img/rocks_bg.png) no-repeat top/cover;
  position: absolute;
  z-index: -100;
  top: -5%;
  left: -5%;
  right: 0;
  bottom: 0;
  height: 141vh;
  width: 110vw;
}


.l-developer__container {
  display: flex;
  justify-content: center;
  @include centered();
  height: 270px;
  width: 460px;
  @include phone {
    height: 100vh;
    width: 90%;
  }
}

.c-developer__bg {
  position: absolute;
  top: -8%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke: $white;
  stroke-width: 0.75px;
  opacity: 0.07;
  @include phone {
    top: 20%;
    height: 50vh;
  }
}

//include ../components/_user
