.c-menu {
  width: 100%;
}

.c-menu-list {
  display: flex;
  justify-content:space-between;
  flex-flow: row wrap;
}

.c-menu-list__item {
}

.c-menu-list__link {
  text-decoration: none;
  @include roboto(medium);
  color: $white;
}

.c-menu-wrapper_main {
  position: absolute;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
  background: rgba($bg-blue, 0.90);
  //display: flex;
  display: none;
  & .c-menu {
    margin:auto;
  }
  & .c-menu-list {
    flex-direction: column;
    align-content: center;
  }

  & .c-menu-list__item {
    text-align: center;
    margin-bottom:75px;
    position: relative;
    transition: 0.3s;
    &:after {
      content: "";
      width: 90px;
      border-bottom: 3px solid $white;
      display: none;
      margin: 6px auto 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &:hover{
      &:after {
        display: block;
      }
    }
  }

  & .c-menu-list__link {
    text-decoration: none;
    @include sansus();
    font-size: 63px;
    text-transform: uppercase;
    color: $white;
    @include tablet{
      font-size:56px;
    }
    @include phone{
      font-size:40px;
    }
  }
}
