.c-slider {
  width: 100vw;
  height: 80vh;
  background: $bg-white;
  min-height: 670px;
  position: relative;
  display: flex;
  justify-content: space-around;
  @include tablet {
    flex-direction: column;
    height: auto;
  }
}

.c-slider__view {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-end;
  @include laptop {
    flex: 1.5;
  }
  @include tablet {
    margin: auto;
    flex: 1;
    padding-top: 20px;
    height: 70vh;
  }
}

.c-slider__slides {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto 10% 0;
  @include tablet {
    margin: auto auto 0 auto;
  }
}

.c-slides__item {
  position: absolute;
  width: 100%;
  max-width: 550px;
  @include centered(x);
  bottom: 0;
  opacity: 0;
  transition: opacity 0.7s ease-in;
  @include tablet {
    width: 90%;
    max-height: 65vh;
  }
  &.active {
    opacity: 1;
  }
}

.c-slider-img {
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

.c-slider__description {
  flex: 1;
  display: flex;
  @include tablet {
    background: $beige;
    height: 30vh;
    flex: none;
  }
}

.c-description__wrapper {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  padding-left: 100px;
  margin: auto;
  @include desktop {
    padding-left: 60px;
  }
  @include laptop {
    padding-left: 40px;
  }
  @include tablet {
    justify-content: center;
    padding: 40px 0;
  }
}

.c-slider-title {
  transition: 0.4s;
  @include tablet {
    text-align: center;
    &:after {
      margin: 16px auto 0;
      @include phone {
        margin: 6px auto 0;
        width: 70px;
      }
    }
  }
}

.c-slider-item__skills {
  @include roboto(medium);
  color: $blue;
  text-transform: uppercase;
  padding: 20px 0;
  width: 100%;
  transition: 0.4s;
  @include tablet {
    text-align: center;
  }
}

.c-slider-btn {
  @include roboto(medium);
  margin: 10px 10px 10px 0;
  display: inline-block;
  vertical-align: middle;
  background: rgba($blue,0.85);
  text-decoration: none;
  color: rgba($white,0.9);
  padding-right: 15px;
  transition: 0.3s;
  &:hover {
    background:$blue;
    color: $white;
  }
}

.c-slider-btn__icon {
  height: 20px;
  width: 20px;
  margin: 12px 15px;
  display: inline-block;
  vertical-align: middle;
  fill: $white;
}

.c-pager {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  right: 0;
  left: 0;
  @include tablet {
    display: none;
  }
}

.c-pager__list {
  display: flex;
  justify-content: space-between;
}

.c-pager__item {
  padding: 15px;
  margin: 20px 0;
  cursor: pointer;
  position: relative;
  &.active {
    .c-pager__symbol {
      fill: $blue;
    }
  }
  &:hover {
    .c-pager__symbol {
      transform: translate(-50%, -50%) scale(1.3);
    }
  }
}

.c-pager__symbol {
  height: 11px;
  width: 11px;
  overflow: hidden;
  border-radius: 50%;
  @include centered();
  fill: $white;
  stroke-width: 2.5;
  stroke: $blue;
  transition: transform 0.3s, all 0.7s;
}

.c-slider__button {
  fill: rgba($blue, 0.7);
  width: 26+30px;
  height: 16+30px;
  position: absolute;
  top: 50%;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    fill: $blue;
  }
  @include tablet {
    display: none;
  }
}

.c-slider__button_prev {
  transform: rotate(90deg) translateX(-13px);
  right: 95%;
  &:hover {
    transform: rotate(90deg) translateX(-13px) scale(1.3);
  }
}

.c-slider__button_next {
  transform: rotate(-90deg) translateX(13px);
  left: 95%;
  &:hover {
    transform: rotate(-90deg) translateX(13px) scale(1.3);
  }
}