extends ../layouts/_default

block section1
    section.l-section.l-welcome
        a.l-welcome__auth-btn(href='#') Авторизоваться
        .l-welcome__frame-wrapper
            include ../components/_frame
        .l-welcome__copyright.c-footer__text © Максим Шаталов | Создано с любовью в LoftSchool | 2017