extends ../layouts/_default

block section1
    section.l-section.l-welcome
        .l-parallax__bg
        //video.l-video__bg(src="./assets/img/night.mp4" controls="controls" autoplay="autoplay" loop="loop")
        include ../components/_blinking-stars
        a.l-welcome__auth-btn(data-flip="toggle" href='#') Авторизоваться
        .l-flipper
            .l-frame-wrapper.l-frame-wrapper_welcome
                include ../components/_frame
            .l-frame-wrapper.l-frame-wrapper_auth
                include index/_form-auth
        .l-welcome__copyright.c-footer__text © Максим Шаталов | Создано с любовью в LoftSchool | 2017
            .l-welcome__copyright_phone.c-footer__text © Максим Шаталов
            .l-welcome__copyright_phone.c-footer__text Создано с любовью в LoftSchool | 2017