section.l-section.l-works
    .l-works__title
        .c-section-title-container.c-section-title-container_works
            svg(class='c-section-title-bg')
                use(xlink:href=`#stars2`)
            .c-section-title мои работы
        svg.l-works-title__triangles
    include ../../components/_slider