.c-form-container.c-form-container_yells
    form.c-form(action="works" method="POST")#mail-form
        .c-block-title.c-block-title_white связаться со мной
        input.c-form__input(name="username" type="text" placeholder="Ваше имя" required=true)
        input.c-form__input(name="email" type="email" placeholder="Ваше email" required=true)
        textarea.c-form__input.c-form__input_textarea(name="message" placeholder="Ваше сообщение" required=true)
    .c-form__panel
        button.c-form__button.c-form__button_highlighted(type="submit" form="mail-form") Отправить
        button.c-form__button(type="reset" form="mail-form") Очистить