section.l-section.l-yells
    .l-yells__title
        .c-section-title-container.c-section-title-container_yells
            svg(class='c-section-title-bg')
                use(xlink:href=`#stars3`)
            .c-section-title что обо мне говорят
    -
        var yells={
            yell1: {
                name:'Ковальчук Дмитрий',
                occupation:'- основатель Loftshcool',
                img:'./assets/img/yells-1.jpg',
                content:'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! Выдержал самые тяжелые испытания в условиях жестких дедлайнов и бессонных ночей!'
            },
            yell2: {
                name:'Сабанцев Владимир',
                occupation:'- преподаватель',
                img:'./assets/img/yells-2.jpg',
                content:'Этот код выдержит любые испытания. Только, пожалуйста, не загружайте сайт на слишком старых браузерах!'
            }
        }
    .c-yells
        ul.c-yells__list
            each yell in yells
                li.c-yell
                    img.c-yell__pic(src=`${yell.img}`)
                    .c-yell__content.c-yell__text #{yell.content}
                    .c-yell__persona
                        .c-yell__persona-name #{yell.name}
                        .c-yell__persona-occupation.c-yell__text #{yell.occupation}
    include  _form
    a.c-section__btn.c-section__btn_prev(data-move="top")
        +svg('c-section__icon',`arrow_down`)
    include ../../components/_footer